.center{
    align-items: center;
}
.top{
    margin-top: 7%;
    margin-right: 30%;
    margin-left: 30%;
}
ion-button{
    
    margin-top: 2%;
    align-content: flex-start;
    margin-right: 30%;
    margin-left: 30%;
    
}
ion-img{
    margin-right: 78%;
}
ion-content{
    --ion-background-color: #013CA6;
}
ion-item{
    .der{
        margin-left: 2%;
    }
    margin-top: 1%;
    margin-left: 20%;
    margin-right: 20%;
}
