<ion-content>
  <div class="right">
  <ion-searchbar color="light" 
  (ionChange)="onSearchTerm($event)" 
  placeholder="Buscar matricula"
  ></ion-searchbar>
</div>
  <div>
    <ion-item color="light">
    <ion-label>Matricula</ion-label>
    <ion-label>Medicamento</ion-label>
    <ion-label>Fecha</ion-label>
    
  </ion-item>
  </div>
  <ion-list>
    <ion-item *ngFor="let item of consultas" (click)="goToModificarConsulta(item.Matricula,item.ID)" color="light">
      <ion-label>{{item.Matricula}}</ion-label>
      <ion-label>{{item.Medicamento}}</ion-label>
      <ion-label>{{item.Fecha}}</ion-label>
      <ion-icon src="../assets/add.svg" class="pointer"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>