
<ion-content>
  <div class="left">
    <ion-button (click)="exportar()">Exportar</ion-button>
  </div>
  <ion-item>
  <ion-img src="../../assets/grafico.png"></ion-img>
  <ion-label>
    <br><ion-icon src="../../assets/enfermedad1.svg"></ion-icon>Enfermedad 1
    <br><ion-icon src="../../assets/enfermedad2.svg"></ion-icon>Enfermedad 2
    <br><ion-icon src="../../assets/enfermedad3.svg"></ion-icon>Enfermedad 3
    <br><ion-icon src="../../assets/enfermedad4.svg"></ion-icon>Enfermedad 4
    <br><ion-icon src="../../assets/enfermedad5.svg"></ion-icon>Enfermedad 5</ion-label>
</ion-item>
</ion-content>
