<ion-content>
    <div class="top">
    <ion-item color="light">
      <ion-label>Matricula:</ion-label>
      <ion-input [(ngModel)]="matricula" type="text"></ion-input>
    </ion-item>
    <ion-item color="light">
      <ion-label>Carrera:</ion-label>
      <ion-input [(ngModel)]="carrera" type="tex"></ion-input>
    </ion-item>
    <ion-item color="light">
      <ion-label>Edad: </ion-label>
      <ion-input [(ngModel)]="edad" type="text"></ion-input>
    </ion-item>
    <ion-radio-group [(ngModel)]="sexo"> 
   <ion-row >
     <ion-col>
       <ion-item color="light">
         <ion-icon src="../assets/woman.svg" item-start></ion-icon>
         <ion-label>Mujer</ion-label>
         <ion-radio value="M"></ion-radio>
       </ion-item>
     </ion-col>
     <ion-col>
        <ion-item color="light" shape="round">
          <ion-icon src="../assets/man.svg" item-start></ion-icon>
          <ion-label>Hombre</ion-label>
          <ion-radio value="H"></ion-radio>
        </ion-item>
      </ion-col>
   </ion-row>
  </ion-radio-group>
   </div>
    <ion-button expand="full" shape="round" color="tertiary" (click)="guardar()">Guardar</ion-button>
  
  </ion-content>
  